<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="formation-iris.ZPM">
    <Module>
      <Name>formation-iris</Name>
      <Version>1.0.0</Version>
      <Description>Formation InterSystems IRIS</Description>
      <Keywords>ObjectScript, Python, SQL, REST, UnitTest</Keywords>
      <Packaging>module</Packaging>
      <CSPApplication CookiePath="/admin/" DefaultTimeout="900" DispatchClass="admin.REST" MatchRoles=":%All" PasswordAuthEnabled="1" Recurse="1" ServeFiles="1" ServeFilesTimeout="3600" UnauthenticatedEnabled="1" Url="/admin" UseSessionCookie="2"/>
      <CSPApplication CookiePath="/common/" DefaultTimeout="900" DispatchClass="common.REST" MatchRoles=":%All" PasswordAuthEnabled="1" Recurse="1" ServeFiles="1" ServeFilesTimeout="3600" UnauthenticatedEnabled="1" Url="/common" UseSessionCookie="2"/>
      <CSPApplication CookiePath="/formation/crud/" DefaultTimeout="900" DispatchClass="REST.crud" MatchRoles=":%All" PasswordAuthEnabled="1" Recurse="1" ServeFiles="1" ServeFilesTimeout="3600" UnauthenticatedEnabled="1" Url="/formation/crud" UseSessionCookie="2"/>
      <CSPApplication CookiePath="/csp/irisapp/" DefaultTimeout="900" DeployPath="${cspdir}irisapp" Description="Interoperability Management Portal" PasswordAuthEnabled="1" Recurse="1" Resource="%Ens_Portal" ServeFiles="1" ServeFilesTimeout="3600" UnauthenticatedEnabled="0" Url="/csp/irisapp" UseSessionCookie="2"/>
      <CSPApplication CookiePath="/temp/" DefaultTimeout="900" DispatchClass="temp.rest" MatchRoles=":%All" PasswordAuthEnabled="1" Recurse="1" ServeFiles="1" ServeFilesTimeout="3600" UnauthenticatedEnabled="0" Url="/temp" UseSessionCookie="2"/>
      <SourcesRoot>src</SourcesRoot>
      <!-- <UnitTest Name="/tests" Package="dc.sample.unittests" Phase="test"/> -->
    </Module>
  </Document>
</Export>